[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

xlsxwriter = "*"
flask = "*"
flask-pymongo = "*"
flask-script = "*"
flask-wtf = "*"
flask-jwt = "*"
python-dotenv = "*"
gunicorn = "*"


[dev-packages]



[requires]

python_version = "3.6"